html,body,img{margin:0;padding:0}
body{background:url(../imgs/admin/bg-login.gif);padding-top:150px}
.error-box{width:701px;margin:0 auto;text-align:right}
.error-box a{font-size:12px;color:#AAA;text-decoration:none}
.error-box a:hover{color:#FFF}